method: "dpo"

defaults:
  - model: gemma_2_2b
  - experiment/lora_gemma_interp_small_lg@sft_experiment
  # - experiment/lora_gemma_interp_mid_small@dpo_experiment
  #- experiment/lora_gemma_interp_large_start@dpo_experiment
  #- experiment/lora_gemma_interp_small_small@dpo_experiment
  - experiment/lora_gemma_interp_512_large_start@dpo_experiment
  # - experiment/dense_small@dpo_experiment
  #- experiment/lora_gemma_interp_512_small_start@dpo_experiment
  - dataset/alpaca-train@sft_dataset
  - dataset/hh-rlhf@dpo_dataset
  - base_sft_merged_model: gemma_2_2b
  - quantization: 4bit


dump_trained_model: True
dump_path: "models/dpo/${training.model.model_name}"

sft:
  enabled: False

dpo:
  enabled: True
  max_prompt_length: 256
  max_completion_length: 256
  beta: 0.2
  loss_type: 'sigmoid'
  num_train_epochs: 1
  per_device_train_batch_size: 4
  per_device_eval_batch_size: 2
  gradient_accumulation_steps: 16
  gradient_checkpointing: True
  max_steps: 7500
  optim: 'adamw_bnb_8bit'
  learning_rate: 2e-5
  warmup_ratio: 0.03
  bf16: True
  fp16: False
  max_grad_norm: 1.0
  save_strategy: 'steps'
  save_steps: 500
  save_total_limit: 2
  eval_strategy: 'steps'
  eval_steps: 250
  do_eval: True
