method: "dpo"

defaults:
  - model: gemma_2b
  - experiment/lora_gemma_interp_small@sft_experiment
  - experiment/lora_gemma_interp_small@dpo_experiment
  - dataset/alpaca-train@sft_dataset
  - dataset/hh-rlhf@dpo_dataset
  - adapter: gemma_2b
  - quantization: 8bit


dump_trained_model: True
dump_path: "models/dpo/${training.model.model_name}"


sft:
  enabled: False

dpo:
  enabled: True
  max_prompt_length: 512
  max_completion_length: 1024
  beta: 0.1
  loss_type: 'sigmoid'
  num_train_epochs: 1
  per_device_train_batch_size: 2
  per_device_eval_batch_size: 2
  gradient_accumulation_steps: 2
  gradient_checkpointing: True
  max_steps: 5000
  optim: 'adamw_torch'
  learning_rate: 5e-6
  warmup_ratio: 0.03
  bf16: False
  fp16: True
  max_grad_norm: 0.3
  save_strategy: 'steps'
  save_steps: 500
  save_total_limit: 2
  eval_strategy: 'steps'
  eval_steps: 500
  do_eval: True