method: "dpo"

defaults:
  - model: llama_3_1b_instruct
  - sft_experiment: lora_r_16_mlp_attn_llama
  - dpo_experiment: lora_r_16_mlp_attn_llama
  - sft_dataset: alpaca-train
  - dpo_dataset: hh-rlhf
  - quantization: 8bit


sft:
  enabled: False

dpo:
  enabled: True
  max_prompt_length: 512
  max_completion_length: 1024
  beta: 0.1
  loss_type: 'sigmoid'
  num_train_epochs: 1
  per_device_train_batch_size: 8
  per_device_eval_batch_size: 4
  gradient_accumulation_steps: 1
  gradient_checkpointing: True
  optim: 'adamw_torch'
  learning_rate: 5e-6
  warmup_ratio: 0.03
  bf16: False
  fp16: False
  max_grad_norm: 0.3
  save_strategy: 'steps'
  save_steps: 500
  save_total_limit: 2
  eval_strategy: 'steps'
  eval_steps: 250
  do_eval: True