method: "sft"

defaults:
  - model: gemma_2b
  - experiment/lora_gemma_interp_small@sft_experiment
  - experiment/lora_gemma_interp_small@dpo_experiment
  - dataset/alpaca-train@sft_dataset
  - dataset/hh-rlhf@dpo_dataset
  - adapter: gemma_2b
  - quantization: 4bit

dump_trained_model: True
dump_path: "models/sft/${training.model.model_name}"

sft:
  enabled: True
  packing: False
  completion_only_loss: True
  max_seq_length: 1024
  num_epochs: 5000
  batch_size_train: 4
  gradient_accumulation_steps: 12
  gradient_checkpointing: True
  optim: "adamw_torch"
  lr: 1e-4
  warmup_ratio: 0.03
  bf16: False
  fp16: True
  max_grad_norm: 0.3
  save_strategy: "steps"
  save_steps: 50
  save_total_limit: 3
  eval_steps: 100
  eval_strategy: "steps"
  max_steps: 1000
  batch_size_eval: 12
  weight_decay: 0.001
  push_to_hub: False
  do_eval: True

dpo:
  enabled: False